h1{
    color: green;
    
    outline-style: double;
    outline-color: green;
    
    }

    body{

background-color: orange;






    }

.airforce1img{

    width: 500px;
    box-shadow: 0 0 150px -20px green ;



}





