

h1{
color: green;
outline-style: double;
outline-color: green;

}



.nikedunkpanda-image{
    width: 300px;
    box-shadow: 0 0 70px -20px black ;
    /* box-shadow: 0 0 30px -20px black , -200px  0 30px -20px red; */
}
body{

background-color: orange;



}

