.contornlineunk{
    outline-style: double;
outline-color: black;


}
.dunklowpandahomepage{
width: 300px;
box-shadow: 0 0 150px -20px green ;
    

}
h1{
outline-style: double; color: green;
}
body{
background-color: orange;    
}

.nikedunklowpandawritten{

color: green;


}

.jordanlowimg1{

width: 300px;
box-shadow: 0 0 150px -20px green ;


}
.jordanlowwritten{

color: green;

}



.jordanhighimg1{

width: 350px;


box-shadow: 0 0 190px -20px green ;


}

.jordanhighwritten{

color: green;


}